html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

body {
    background-image: url(bg_img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Ysabeau Office", sans-serif;
    background-attachment: fixed;
}
 /* Hides the Google Translate logo */
 .goog-te-gadget-icon {
    display: none !important;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    transition: 0.6s;
    background-color: #788665;
    padding: 0 20px; /* Add padding instead of large margins */
    box-sizing: border-box;
    box-shadow: 0 9px 20px rgb(90, 90, 90);
}

header .hamburger {
    font-size: 30px;
    cursor: pointer;
    color: #D4D0CD;
    margin-right: 20px; /* Reduced margin */
}

header .nav_logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav_logo img {
    width: 90px;
    margin-right: 100px;
}

.nav_menu {
    display: none; /* Hide the menu by default */
    color: #95A777;/*use for the color of the nav*/
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #95A777;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px; /*use to round the corder of the nav div*/
}
.nav_menu ul li {
   padding-right: 50px;  /*use so the li and ul doesnt intersect to each other*/
   color: #D4D0CD;
}
.nav_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(4, auto); /* 4 rows for the first column */
    gap: 5px; /* Space between items */
}

.nav_menu ul li a {
    text-decoration: none;
    color: white;
}

/* When menu is visible after hamburger is clicked */
.nav_menu.show {
    display: flex;
}
/*use to specific geip placements for each column*/
/* Specific grid placements for each column */
.nav_menu ul li:nth-child(1) { grid-column: 1; grid-row: 1; }
.nav_menu ul li:nth-child(2) { grid-column: 1; grid-row: 2; }
.nav_menu ul li:nth-child(3) { grid-column: 1; grid-row: 3; }
.nav_menu ul li:nth-child(4) { grid-column: 1; grid-row: 4; }
.nav_menu ul li:nth-child(5) { grid-column: 2; grid-row: 1; }
.nav_menu ul li:nth-child(6) { grid-column: 2; grid-row: 2; }
.nav_menu ul li:nth-child(7) { grid-column: 2; grid-row: 3; }
.nav_menu ul li:nth-child(8) { grid-column: 3; grid-row: 1; }
/* Adjust grid placement for the dropdown */
.nav_menu ul li:nth-child(9) {
    grid-column: 3;
    grid-row: 2; /* Adjust based on layout */
}


@media only screen and (min-width: 1024px){
    .aboutus {
        color: #CCAE0E;
        font-size: 110px;
        position: relative;
        top: 40px;
        left: 570px;
    }
    
    .container {
        margin: 5px auto; 
        height: auto;
        width: 1000px;
        border: 11px solid #CCAE0E;
        flex-wrap: wrap;
        position: relative;
        bottom: 40px;
    }
    
   
    .img {
        width: 400px;
        height: 310px;
        
    }
    
    h4 {
        color: #CCAE0E;
        margin-left: 400px;
        margin-top: -325px;
        font-size: 65px;
        text-align: left;
        line-height: 1;
    }
    
    p {
        color: #CCAE0E;
        line-height: 1;
        text-align: justify;
        font-size: 28px;
        margin-top: -75px;
        margin-left: 405px;
        margin-right: 8px;
    }
    
    .p1 {
        color: #CCAE0E;
        line-height: 1;
        text-align: left;
        font-size: 28px;
        margin-top: -20px;
        margin-left: 13px;
    
    }
}

@media only screen and (max-width: 1023px){
    header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        transition: 0.6s;
        background-color: #788665;
        padding: 0 20px; /* Add padding instead of large margins */
        box-sizing: border-box;
        box-shadow: 0 9px 20px rgb(90, 90, 90);
    }
    
    header .hamburger {
        font-size: 30px;
        cursor: pointer;
        color: #D4D0CD;
        margin-right: 20px; /* Reduced margin */
    }
    
    header .nav_logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .nav_logo img {
        width: 90px;
        margin-right: 40px;
    }
    
    .nav_menu {
        display: none; /* Hide the menu by default */
        color: #95A777;/*use for the color of the nav*/
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #95A777;
        align-items: flex-start;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        border-radius: 0 0 10px 10px; /*use to round the corder of the nav div*/
    }
    .nav_menu ul li {
       padding-right: 0px;  /*use so the li and ul doesnt intersect to each other*/
       color: #D4D0CD;
    }
    .nav_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        grid-template-rows: repeat(4, auto); /* 4 rows for the first column */
        gap: 5px; /* Space between items */
    }
    
    .nav_menu ul li a {
        text-decoration: none;
        color: white;
    }
    
    /* When menu is visible after hamburger is clicked */
    .nav_menu.show {
        display: flex;
    }
    /*use to specific geip placements for each column*/
    /* Specific grid placements for each column */
    .nav_menu ul li:nth-child(1) { grid-column: 1; grid-row: 1; }
    .nav_menu ul li:nth-child(2) { grid-column: 1; grid-row: 2; }
    .nav_menu ul li:nth-child(3) { grid-column: 1; grid-row: 3; }
    .nav_menu ul li:nth-child(4) { grid-column: 1; grid-row: 4; }
    .nav_menu ul li:nth-child(5) { grid-column: 2; grid-row: 1; }
    .nav_menu ul li:nth-child(6) { grid-column: 2; grid-row: 3; }
    .nav_menu ul li:nth-child(7) { grid-column: 2; grid-row: 4; }
    
    .aboutus {
        color: #CCAE0E;
        font-size: 60px;
        margin-top: 120px;
        text-align: center; /* Center the text inside the element */
        margin-left: auto;
        margin-right: auto;
        width: fit-content; /* Ensures the element takes up only as much space as needed */
    }
    
    .container {
        margin-top: -40px;
        height: auto;
        width: 270px;
        border: 11px solid #CCAE0E;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto; /* Center the container horizontally */
    }
    
    
    .img {
        width: 265px;
        height: 150px;
        
    }
    
    h4 {
        color: #CCAE0E;
        margin-left: 10px;
        margin-top: -8px;
        font-size: 28px;
        text-align: left;
        line-height: 1;
    }
    
    p {
        color: #CCAE0E;
        line-height: 1;
        text-align: justify;
        font-size: 18px;
        margin-top: -22px;
        margin-left: 10px;
        margin-right: 8px;
    }
    
}

