html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
body {
    background-image: url(bg_img/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Ysabeau Office", sans-serif;
}
.header,.container_2{
    font-weight: bold;
}
.container_1 a{
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


/*deskstop and laptop*/
/*1370px original i tried to adjust the  width to see changes*/
@media only screen and (min-width: 1024px){
     /*font size for buttons*/
     #bt1, #bt2, #bt3{
        font-size: 15px;
     }
    .header {
        position: absolute;
        top: 70px;
        right: 230px;
        color: black;
        font-size: 60px;
    }
    .logo {
        position: absolute;
        top: 180px;
        left: 150px;
        bottom: 50px;
    }
    .logo img {
        width: 500px;
        height: 350px;
    }
  
    .container_1 {
        height: 350px;
        width: 550px;
        position: absolute;
        background-color: #2F393B;
        margin: 20px;
        top: 150px;
        right: 170px;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    label {
        color: #e1ddda;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        display: block; /* Ensures labels are on their own line above each input */
        margin-bottom: 5px; /* Adds space between the label and input */
        position: relative;
        top: 20px;
    }
    .container_1 a{
        width: 80%;  
        display: flex;
    }
    .container_2 {
        height: 250px;
        width: 550px;
        position: absolute;
        top: 530px;
        right: 190px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        font-size: 20px;
    }
    .container_1 input {
        width: 80%;  
        margin: 10px 0;  
        padding: 10px;  
        border: none;  
        border-radius: 5px; 
        background-color: #D4D0CD; 
        font-weight: bold;
        position: relative;
        top: 10px;
    }
    #bt1 {
        width: 80%;  
        height: 40px;
        margin: 10px 0;  
        padding: 10px;  
        border: none;   
        font-weight: bold;
        border-radius: 5px;  
        background-color: #95A777;   
        cursor: pointer;  
        position: relative;
        top: 10px;
    }
    #bt1:hover {
        background-color: #4A6B6C;  
    }
    #bt2 {
        width: 50%;  
        height: 40px;
        margin: 10px 0;  
        padding: 10px;  
        border: none;   
        font-weight: bold;
        border-radius: 5px;  
        background-color: #7E9C92;  
        cursor: pointer;  
        position: relative;
        bottom: 10px;
    }
    #bt2:hover {
        background-color: #4A6B6C;  
    }
    #bt3 {
        width: 30%;  
        height: 40px;
        border: none;   
        font-weight: bold;
        border-radius: 5px;  
        background-color: #2F393B;   
        color: #D4D0CD;
        cursor: pointer;  
    }
    #bt3:hover {
        background-color: #4A6B6C;  
    }
    .container_1 a {
        color: #D4D0CD; /* Link color */
        margin: 10px 0;  
    }  
    .password-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 455px;
    }
    
    .password-container input {
        width: 100%;
        padding-right: 30px; /* Add space for the icon */
    }
    
    .toggle-password {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
    }
}
/*mobile*/
/*1369px original i tried to adjust the  width to see changes*/
@media only screen and (max-width: 1023px) {
  /*use to center the divs*/
  .header,.logo,.container_1,.container_2{
  /*Use to center div*/
  display: flex;
  align-items: center; 
  justify-content: center;
        
  }
  .logo {
        margin-top: 25px;
    }
    /*Size of the image*/
    .logo img {
        width: 150px;
        height: 95px;
    }
    .header {
        margin-top: 20px;
        color: black;
        font-size: 30px;
    }
   
    .container_1 {
        flex-direction: column;
        /*use style the container 1 div*/
        background-color: #2F393B;
        margin: 10px auto;
        border-radius: 15px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 20px;
        /*size of the container*/
        width: 250px;
        height: 270px;
    }
    label {
        color: #e1ddda;
        text-align: center;
        font-weight: bold;
        display: block; /* Ensures labels are on their own line above each input */
        margin-bottom: 5px; /* Adds space between the label and input */
    }
    .container_1 a{
        width: 80%; 
        display: flex; 
    }
    .container_2 {
        margin-top: 15px;
        flex-direction: column;
        font-size: 10px;
    }
    /*for buttons and forms*/
    .container_1 input {
        width: 100%;  
        height: 35px;
        margin: 5px 0;  
        margin-top: 10px;
        padding: 5px;  
        border: none;  
        border-radius: 10px; 
        background-color: #D4D0CD; 
        font-weight: bold;
    }
    #bt1 {
        width: 100%;  
        height: 35px;
        padding: 10px;  
        border: none;   
        font-weight: bold;
        border-radius: 10px;  
        background-color: #95A777;   
        cursor: pointer;  
    }
    #bt1:hover {
        background-color: #4A6B6C;  
    }
    #bt2 {
        width: 85%;   
        height: 35px;
        margin: 10px 0;  
        padding: 10px;  
        border: none;   
        font-weight: bold;
        border-radius: 10px;  
        background-color: #7E9C92;  
        cursor: pointer;  
    }
    #bt2:hover {
        background-color: #4A6B6C;  
    }
    #bt3 {
        width: 145px;  
        height: 30px;
        margin: 10px 0;  
        padding: 8px;  
        border: none;   
        font-weight: bold;
        border-radius: 10px;  
        background-color: #2F393B;   
        color: #D4D0CD;
        cursor: pointer;  
    }
    #bt3:hover {
        background-color: #4A6B6C;  
    }
    .container_1 a {
        color: #D4D0CD; /* Link color */
        margin: 10px 0;  
    }

}


