html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

body {
    background-image: url(bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Ysabeau Office", sans-serif;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    transition: 0.6s;
    background-color: #788665;
    padding: 0 20px; /* Add padding instead of large margins */
    box-sizing: border-box;
    box-shadow: 0 9px 20px rgb(90, 90, 90);
}

header .hamburger {
    font-size: 30px;
    cursor: pointer;
    color: #D4D0CD;
    margin-right: 20px; /* Reduced margin */
}

header .nav_logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo img {
    width: 90px;
    margin-right: 100px;
}

.nav_menu {
    display: none;
    color: #95A777;
    position: absolute;
    left: 0;
    top: 80px; /* Align with header height */
    width: 100%;
    background-color: #95A777;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

.nav_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav_menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2px 0;
}

.nav_menu.show {
    display: grid;
}

.mission {
    color: #CCAE0E;
    font-size: 120px;
    margin-top: 120px;
    text-align: center;
}

.container {
    background-image: url(bg_img.jpg);
    margin-top: -95px;
    height: 270px;
    width: 542px;
    margin-left: 360px;
    display: flex;
    border: 11px solid #CCAE0E;
    flex-wrap: wrap;
}

.img {
    width: 400px;
    height: 320px;
    
}

h5 {
    color: #CCAE0E;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    text-align: justify;
    margin-top: 9px;
}

