html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}


body {
    background-image: url(bg_img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ysabeau Office', sans-serif;
    flex-direction: column; /* Allows the content to be stacked vertically */;
}
/*deskstop and laptop*/
/*1370px original i tried to adjust the  width to see changes*/
@media only screen and (min-width: 1024px){

    .title {
        max-width: 480px; /* Constrains the content within the div */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }
    
    h3 {
        text-align: center;
        font-size: 55px;
        color: #2F393B;
        margin-bottom: 20px; /* Add margin to create spacing between the heading and the container */
    }
    
    .container1 {
        height: 450px;
        width: 100%;
        max-width: 380px;
        background-color: #2F393B;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 10px;
        margin-top: 5px; /* Adds space at the top of the container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .input-row {
        display: flex; /* Use flexbox to align items in a row */
        justify-content: space-between; /* Space them evenly */
        width: 100%; /* Full width of the parent container */
    }
    
    .input_field1, .input_field2 {
        height: 40px;
        flex: 1;
        margin-top: 10px; /* Space from the top */
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        box-sizing: border-box;
        font-weight: bold;
       
    }
    
    .birthday {
        font-size: 19px;
        color: #e1ddda;
        margin-top: 15px;
        font-weight: bold;
    }
    
    .bday {
        font-size: 16px;
        height: 35px;
        width: 250px;
        margin-top: -40px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        cursor: pointer;
        font-weight: bold;
    }
    
    .gender {
        font-size: 19px;
        color: #e1ddda;
        margin-left: -300px;
        margin-top: 15px;
        font-weight: bold;
    }
    
    .gender1 {
        font-size: 20px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 18px 5px 18px;
        border-radius: 10px;
        margin-left: -245px;
        margin-top: -40px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .gender2 {
        font-size: 20px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 18px 5px 18px;
        border-radius: 10px;
        margin-left: -8px;
        margin-top: -37.5px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .gender3 {
        font-size: 20px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 18px 5px 18px;
        border-radius: 10px;
        margin-left: 240px;
        margin-top: -37px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .input_field3 {
        height: 30px;
        margin-top: 20px;
        margin-left: 2px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        width: 365px;  
        font-weight: bold;
    }
    
    .input_field4 {
        height: 30px;
        margin-top: 10px;
        margin-left: 2px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        width: 365px;  
        font-weight: bold;
    }
    
    .input_field5 {
        height: 30px;
        margin-top: 10px;
        margin-left: 2px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        width: 365px;  
        font-weight: bold;
    }
    
    p {
        font-size: 14px;
        color: #e1ddda;
        
    }
    
    a {
        color: white;
    }
    
    button {
        background-color: #7E9C92;
        color: #2F393B;
        width: 250px;
        height: 50px;
        border: #2F393B;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        font-weight: bold;
    } 
}
@media only screen and (max-width: 1023px) {
    .title {
        max-width: 480px; /* Constrains the content within the div */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }
    
    h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
        color: #2F393B;
        
    }
    
    .container1 {
        height: 380px;
        width: 270px;
        background-color: #2F393B;
        border-radius: 15px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 10px;
        margin-top: 5px; /* Adds space at the top of the container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input-row {
        display: flex; /* Use flexbox to align items in a row */
        justify-content: space-between; /* Space them evenly */
        width: 100%; /* Full width of the parent container */
    }
    
    .input_field1, .input_field2 {
        height: 35px;
        width: 100%;
        max-width: 110px;
        flex: 1;
        margin-top: 10px; /* Space from the top */
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        box-sizing: border-box;
        font-weight: bold;
       
    }
    
    .birthday {
        font-size: 14px;
        color: #e1ddda;
        margin-top: 13px;
        font-weight: bold;
    }
    
    .bday {
        font-size: 12px;
        height: 45px;
        width: 170px;
        margin-top: -30px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        cursor: pointer;
        font-weight: bold;
    }
    
    .gender {
        font-size: 14px;
        color: #e1ddda;
        margin-top: 15px;
        padding-bottom: 20px;
    }
     

    /*use to adjust the width of the checkboxes*/
    .gender1,.gender2,.gender3{
     width: 57px;
     height: 65px;
     font-weight: bold;
    }
    
    .gender1 {
        font-size: 10px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 8px 5px 5px;
        border-radius: 10px;
        margin-right: 150px;
        margin-top: -47px;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
    
    .gender2 {
        font-size: 10px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 8px 5px 5px;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: -54px;
        margin-bottom: 10px; 
        cursor: pointer;
    }
    
    .gender3 {
        font-size: 10px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        margin-left: 170px;
        margin-top: -52px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .input_field3{
        margin-top: 30px;
    }
    .input_field3, .input_field4, .input_field5{
        width: 100%;
        height: 45px;
        margin-top: 15px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        width: 210px; 
        font-weight: bold;
    }
      
    
    p {
        font-size: 10px;
        color: #e1ddda;
    }
    
    a {
        color: white;
    }
    
    button {
        background-color: #7E9C92;
        color: #2F393B;
        width: 150px;
        height: 40px;
        border: #2F393B;
        border-radius: 10px;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
    }  
}
