html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}


body {
    background-image: url(bg_img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ysabeau Office', sans-serif;
    flex-direction: column; /* Allows the content to be stacked vertically */;
}
/*deskstop and laptop*/
/*1370px original i tried to adjust the  width to see changes*/
@media only screen and (min-width: 1024px){

    .title {
        position: relative;
        top: 15px;
        max-width: 600px; /* Constrains the content within the div */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h3 {
        text-align: center;
        font-size: 41px;
        color: #2F393B;
        margin-bottom: 20px; /* Add margin to create spacing between the heading and the container */
    }
    
    .container1 {
        height: 600px;
        width: 100%;
        max-width: 480px;
        background-color: #2F393B;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 10px;
        margin-top: 15px; /* Adds space at the top of the container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .one_row-con {
        display: flex; /* Ensures items are placed in a row */
        justify-content: space-between; /* Adjusts the spacing between label-input pairs */
        gap: 15px; /* Adds spacing between the elements */
        width: 100%; /* Ensures the row takes the full available width */
    }
    
    .fistnamelb, .lastnamelb {
        display: flex; /* Ensures items are placed in a row */
        justify-content: center; /* Centers the label text horizontally */
        align-items: center; /* Ensures the label text is vertically centered */
        height: 40px; /* Increase height to ensure the label text fits */
        flex: 1; /* Distribute space evenly between labels */
        margin-top: 5px; /* Space from the top */
        font-weight: bold;  
        font-size: 19px;
        color: #e1ddda;
        text-align: center;
        margin-bottom: 0; 
    }
    
    .input_field1, .input_field2 {
        height: 40px;
        flex: 1;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        box-sizing: border-box;
        font-weight: bold;
    }
    
    label {
        font-size: 19px;
        color: #e1ddda;
        text-align: center;
        font-weight: bold;
        display: block; /* Ensures labels are on their own line above each input */
        margin-bottom: 5px; /* Adds space between the label and input */
    }  
    
    .birthday {
        font-size: 16px;
        color: #e1ddda;
        margin-top: 10px;
        font-weight: bold;
    }
    
    .bday {
        font-size: 16px;
        height: 35px;
        width: 250px;
        margin-top: -35px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        cursor: pointer;
        font-weight: bold;
    }
    
    .sex {
        font-size: 19px;
        margin-top: 10px;
        color: #e1ddda;
        text-align: center; /* Center-align text within the element */
        font-weight: bold;
        margin-bottom: 5px; /* Reduce space below gender title */
    }
    
    .gender-container {
        display: flex;
        justify-content: space-between;
        max-width: 300px; /* Adjust width as needed */
        margin: 0 auto; /* Center the container */
        gap: 2px; /* Optional: Adjust spacing between options */
        margin-top: -5px; /* Use negative margin to bring it closer to .gender */
    }
    
    .gender1, .gender2, .gender3 {
        font-size: 15px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 18px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        flex: 1; /* Each label takes equal space */
        margin: 0; /* Remove margin to control spacing */
        display: flex;
        align-items: center;
        justify-content: center;
    }
     
       
   /* Combined styles for all input fields */
.input_field3, .input_field4, .input_field5, .input_field6 {
    height: 40px;
    margin-left: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #e1ddda;
    width: 365px;
    font-weight: bold;
}

    p {
        font-size: 14px;
        color: #e1ddda;
        position: relative;
        bottom: 2px;
    }

    .terms {
        font-size: 14px;
        color: #e1ddda;
        position: relative;
        bottom: 10px;
    }
    
    a {
        color: white;
    }
    
    button {
        background-color: #7E9C92;
        color: #2F393B;
        width: 250px;
        height: 50px;
        border: #2F393B;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        bottom: 18px;
    } 
    .toggle-password {
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
    }
    .password-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 365px;
    }
    
    .password-container input {
        width: 100%;
        padding-right: 30px; /* Add space for the icon */
    }
    
    .toggle-password {
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
    }
}
::-ms-reveal {
    display: none;
  }

@media only screen and (max-width: 1023px) {
    .title {
        max-width: 480px; /* Constrains the content within the div */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }
    
    h3 {
        margin-top: 5px;
        text-align: center;
        font-size: 30px;
        color: #2F393B;
        
    }
    
    .container1 {
        height: auto;
        min-height: 410px;
        width: 280px;
        background-color: #2F393B;
        border-radius: 15px;
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 10px;
        margin-top: 5px; /* Adds space at the top of the container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .one_row-con {
        display: flex; /* Ensures items are placed in a row */
        justify-content: space-between; /* Adjusts the spacing between label-input pairs */
        width: 100%; /* Ensures the row takes the full available width */
        gap: 2px;
    }
    
    .fistnamelb, .lastnamelb {
        display: flex; /* Ensures items are placed in a row */
        justify-content: center; /* Centers the label text horizontally */
        align-items: center; /* Ensures the label text is vertically centered */
        height: 35px; /* Increase height to ensure the label text fits */
        width: 100%;
        max-width: 300px;
        flex: 1; /* Distribute space evenly between labels */
        margin-top: 5px; /* Space from the top */
        font-weight: bold;  
        font-size:14px;
        color: #e1ddda;
        text-align: center;
        margin-bottom: 0; 
    }
    
    .input_field1, .input_field2 {
        height: 40px;
        width: 100%;
        max-width: 300px;
        flex: 1;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        box-sizing: border-box;
        font-weight: bold;
    }
    .birthday {
        font-size: 14px;
        color: #e1ddda;
        margin-top: 13px;
        font-weight: bold;
    }
    label {
        font-size: 12px;
        color: #e1ddda;
        text-align: center;
        font-weight: bold;
        display: block; /* Ensures labels are on their own line above each input */
        margin-bottom: 5px; /* Adds space between the label and input */
    }
    .bday {
        height: 45px;
        width: 170px;
        margin-top: -30px;
        border-radius: 10px;        
        border: 1px solid #ccc;     
        background-color: #e1ddda;
        cursor: pointer;
        font-weight: bold;
    }
    
    .sex {
        font-size: 12px;
        margin-top: 10px;
        color: #e1ddda;
        text-align: center; /* Center-align text within the element */
        font-weight: bold;
        margin-bottom: 5px; /* Reduce space below gender title */
    }
    
    .gender-container {
        display: flex;
        justify-content: space-between;
        max-width: 300px; /* Adjust width as needed */
        margin: 0 auto; /* Center the container */
        gap: 2px; /* Optional: Adjust spacing between options */
        margin-top: -5px; /* Use negative margin to bring it closer to .gender */
    }
    
    .gender1, .gender2, .gender3 {
        font-size: 10px;
        color: gray;
        background-color: #e1ddda;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        flex: 1; /* Each label takes equal space */
        margin: 0; /* Remove margin to control spacing */
        display: flex;
        align-items: center;
        justify-content: center;
    }
       /* Combined styles for all input fields */
.input_field3, .input_field4, .input_field5, .input_field6 {
    height: 45px;
    margin-left: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #e1ddda;
    width: 210px;
    font-weight: bold;
} 
    
    p {
        font-size: 10px;
        color: #e1ddda;
    }
    
    a {
        color: white;
    }
    
    button {
        background-color: #7E9C92;
        color: #2F393B;
        width: 150px;
        height: 40px;
        border: #2F393B;
        border-radius: 10px;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
    }  
}
