html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}


body {
    background-image: url(bg_img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ysabeau Office', sans-serif;
    flex-direction: column; /* Allows the content to be stacked vertically */;
}
.form-container {
    background-color: #29363D;    
    padding: 30px 40px;    
    border-radius: 10px;          
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    width: 400px;                
    height: 210px;              

}

  
.reset-button {
    display: block;                
    width: 280px;
    height: 50px;                    
    background-color: #7e9c92;     
    color: #2f393c;               
    padding: 15px 1px;            
    border: none;                  
    border-radius: 5px;           
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 600;
    font-size: 16px;               
    cursor: pointer;        
    transform: scaleY(0.9);	
    transition: background-color 0.3s ease; 
    margin: 0 auto;   
    margin-top: 50px;
    
}

.reset-button:hover {
    background-color: #44514F;
}
/*deskstop and laptop*/
/*1370px original i tried to adjust the  width to see changes*/
@media only screen and (min-width: 1024px){
    
    .reset-password-container h1 {
        font-size: 60px;
        font-family: 'Ysabeau Office';
        font-weight: 600;
        line-height: 1.5;
        color: #2f393b;
        transform: scaleY(0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
     
    }
    .form-container {
        background-color: #29363D;
        border-radius: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    
    .email-label {
        display: block;
        font-size: 19px;
        font-weight: 600;
        color: #d4d0cd;
        margin-left: -20px;
        padding-bottom: 5px;
        text-align: left;
    }
    
    .email-input {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        margin-left: -20px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: #a69d96;
        background-color: #d4d0cd;  
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        height: 20px;
        position: center;
        display: flex; /* Use flexbox to align items in a row */
        justify-content: space-between; /* Space them evenly */
        width: 100%; /* Full width of the parent container */
    }
}
@media only screen and (max-width: 1023px) {
   /*use to center the divs*/
   .reset-password-container h1{
    /*Use to center div*/
    display: flex;
    align-items: center; 
    justify-content: center;     
    }
      h1 {
          margin-top: 20px;
          color: black;
          font-size: 30px;
      }
    .form-container {
        width: 100%;
        max-width: 500px;
        height: 170px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .reset-password-container h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .email-label {
        font-size: 10px;
        margin-top: 5px;
        margin-left: 3px;
        padding-bottom: 5px;
        color: #d4d0cd;
    }

    .email-input {
        width: 100%;
        margin-left: 0;
        font-size: 10px;
        padding: 12px;
        height: 35px;
        box-sizing: border-box;
        padding: 15px;
        margin-bottom: 25px;   
        border-radius: 5px;
        border: none;
        font-weight: 600;
        color: #a69d96;
        background-color: #d4d0cd;  
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        position: center;
        display: flex; /* Use flexbox to align items in a row */
    }
    .reset-button {
        font-size: 10px;
        width: 100%;
        height: 35px;
        padding: 12px;
        margin: 0 auto;
    }
}





